<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
    
    
    <div class="container"><br><br>
        <app-employee-count [all]="getTotalEmployees()"
                            [male]="getTotalMaleEmployees()"
                            [female]="getTotalFemaleEmployees()"></app-employee-count>
        <br>
        <h3>Employee Details</h3>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>Code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Annual Salary</th>
                <th>Data of Birth</th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.code}}</td>
                    <td>{{employee.name | employeeTitle : employee.gender}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.anualSalary}}</td>
                    <td>{{employee.dob | date :'fullDate'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>