<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <h3 class="card-text">Product Details</h3>
            
            <table class="table table-hover bg-light text-center">
                <thead class=" bg-primary text-white"  >
                    <th>Name</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>Index</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Odd</th>
                    <th>
                Even
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let value of products; let index=index; let fst=first; let lst=last; let even=even; let odd=odd; trackBy:TrackById">{{products.value}}
                        <td >{{value.Name}}</td>
                        <td>{{value.Price}}</td>
                        <td class="text-center">
                            <img [src]="value.Photo" class="img-thumbnail" width="120" height="80">
                        </td>
                        <td>{{index}}</td>
                        <td>{{fst}}</td>
                        <td>{{lst}}</td>
                        <td>{{even}}</td>
                        <td>{{odd}}</td>
                            
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button (click)="addProduct()" class="btn btn-primary">Add New Product</button>
        </div>
<br><br><br>
<h3 >Products Card</h3>
        <div class="form-group">
            
            <div class="card-deck">
                <div class="card text-center" *ngFor="let value of products; let i=index">
                    <div class="card-header bg-primary">
                        <h4 class="card-text">{{value.Name}}</h4>
                    </div>
                    <div class="card-body">
                        <img [src]="value.Photo" class="img-thumbnail" width="200" height="150">
                    </div>
                    <div class="card-footer">
                        <h4 class="card-text">{{value.Price}}</h4>
                        <button (click)="addToCart(i)" class="btn btn-danger">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="form-group">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let product of cartItems;let i=index">
                        <td>{{product.Name}}</td>
                        <td>{{product.Price}}</td>
                       
                        <td>
                            <img [src]="product.Photo" class="img-thumbnail" width="150" height="100"> 
                        </td>
                        <td>
                            <button (click)="deleteFromCart(i)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>