<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <h3>Selec Color</h3>
            <select [(ngModel)]="forecolor" class="form-control" >
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
            </select>
            <dl>
              <dt>Alignment</dt>
              <dd>
                        <input type="radio" name="align" value="left" [(ngModel)]="alignment">Left
                    
                  
                        <input type="radio" name="align" value="center" [(ngModel)]="alignment">Center
                        <input type="radio" name="align"  value="right" [(ngModel)]="alignment">Right
              </dd>
            </dl>
            <h3 [ngStyle]="applyEffects()">Some Sample Test</h3>
        </div>
    </div>
</body>
</html>
